Pipfile.lock
package-lock.json
temp/
project*/*
build/
dist/
node_modules/
__pycache__
integration-testing-project/
docker.dmg
docker.exe
psychojs-project.tar.xz
psychojs-project.tar
Mturk_IntExp_vG_dn
Mturk_IntExp_vG_up
Mturk_IntExp_Gdn
Mturk_IntExp_Gup