<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="user-scalable=no">
  <title>{{ project_name }}</title>
  <!-- styles -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="lib/psychojs-{{ psychojs_version }}.css">
  <style>
    div#progressMsg {
      display: none;
    }

    div.progress-container {
      display: none;
    }

    input[name="workerId"]+hr {
      display: none;
    }
  </style>
</head>

<body>
  <div id="root"></div>
  <!-- external libraries -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.12.1/jquery-ui.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/preloadjs@1.0.1/lib/preloadjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.2/xlsx.min.js"></script>
  <script src="wrapper.js" type="module"></script>
  <!-- experiment -->
  <script src="{{ project_name }}.js" type="module"></script>
  <!-- legacy browsers -->
  <script src="lib/psychojs-{{ psychojs_version }}.iife.js" nomodule></script>
  <script src="{{ project_name }}-legacy-browsers.js" nomodule></script>

</body>

</html>